.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}

.toggleLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.toggleInput {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

/* Mobile View Styles */
.mobileView {
  display: grid;
  display: none;
  gap: 1rem;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cardGrid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  align-items: baseline;
}

.label {
  color: #999;
  font-weight: 500;
}

/* Desktop View Styles */
.desktopView {
  /* display: none; */
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #69129867;
}

table tr.headerRow {
  outline: 3px solid var(--text-color);
}

.table th {
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
  background-color: var(--accent-color);
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sortIcon {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}

.sortIcon.active {
  opacity: 1;
}

.table tr:nth-child(odd) {
  background-color: rgba(32, 108, 25, 0.05);
}

.dimensions {
  white-space: nowrap;
}

.dimensions strong {
  font-size: 150%;
}

/* Media Query for Desktop */
@media (min-width: 720px) {
  .mobileView {
    display: none;
  }

  .desktopView {
    display: block;
  }
}